


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .body{
    background-color: var(--white);
  }
html{
  font-size: 10px;
}

/* pre looader */
#preloader{
  background:#000  url('images/Rolling.gif') no-repeat center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* end preloooader */
/* button{
  background-color: var(--red);

}
button span{
  color: var(--red) !important;
  font-size: 3rem;
} */

button {
  border: 0.1rem solid var(--red)!important;
  color: var(--red) !important;
  font-size: 2.5rem !important;
}


h1{
  font-size: 3.5rem;
  text-transform: uppercase;
}
/* end top button  */
:root{
  --white:#ffffff;
  --red:#ff5552;
  --black:#000000;
  --sky-blue:#55acee;
  --text-color:#878787;
  --light-black:#202020;

}
/* start header sections  */

/* end header sections */
p{
  font-size: 1.7rem;
  color: var(--text-color);
}

.navbar{
  padding: 2rem 0rem 0.8rem 0rem;
  background-color:rgba(0, 0, 0, 0.578);
  
}
.navbar-brand{
  width: 35rem;
  filter: brightness(100%);
  padding: 2rem 0rem 0.8rem 0rem;
  height: 7rem;
}
.nav-link{
  font-size: 1.5rem ;
  font-weight: 400;
  position: relative;
  color:var(--white);
  text-transform: uppercase;
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin-right: 1rem;
}
.nav-link:hover{
  color: var(--red);
}
.nav-link2::before{
  content: "";
  position:absolute;
  width: 0rem;
  height: 0.1rem;
  z-index: 1;
  background-color: var(--red);
  bottom: 0;
  transition: 0.5s;
}
.nav-link2:hover::before{
  content: "";
  position:absolute;
  width: 6rem;
  height: 0.1rem;
  z-index: 1;
  background-color: var(--red);
  bottom: 0;
}
nav ul li:hover> ul{
  display: block;
}
.social-icon .nav-link{
  transition: 0.5s;
}
.social-icon .nav-link:hover{
  color: var(--red) !important;  

}
/* navbar menu  */
 


.dropdown-menu{
  border: none;
  border-radius: none;
  background-color: black;
  width: max-content;
  width: auto;
  color: var(--red);
  padding-top: 0;
  padding-bottom:0;
}
.dropdown-menu a{
     font-size: 1.4rem;
     color: var(--red) !important;
}
.dropdown-item{
  color: var(--red);
 text-transform: uppercase;
 margin-bottom: 1rem;
 padding: 0.8rem 3rem 0.8rem 3rem;
}
.dropdown-item:hover{
  background-color: var(--white);
  color: var(--red)!important;
}

/* blog --------------------------- */
.blog-head{
  padding-top: 4rem;
 position: absolute;
  top: 0;
  background-image: linear-gradient(15deg, 
  rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url('images/bg-parallax02.jpg');
  background-position: center;
background-size: cover;
background-repeat: no-repeat;
  padding-bottom: 16rem;
  background-attachment: fixed;
}
a{
  text-decoration: none;
}
.text-blog-head-sec{
  margin-top: 9.5rem;
}

.blog-head h1{
  font-size: 4.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white) !important;
  letter-spacing: 0.1rem;

}
.blog-head h1 span{
  font-size: 4.8rem;
  font-weight: 400;
  color: var(--red);

}
.blog-head p,a{
  color: var(--white)!important;
  font-weight: 400;
  font-size: 2.3rem;
}

/* end header  */
h4{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 1rem;
  margin-bottom: 2rem;
}
/* blogs ----------------------------- */
.blog{
  padding: 8rem 8rem;
  margin-top:32rem;
}
.blog h4 a{
  color: var(--light-black)!important;
  transition: 0.5s;
  font-weight: 500;
  font-size: 2rem;
}
.blog h4 a:hover{
  color: var(--red) !important;


}
.blog .date-time{
  text-transform: uppercase;
  color: var(--light-black);
}
.blog p{
  font-size: 1.5rem; 
margin-top: 2rem;}
.btn4{
  color: var(--red) !important;
  font-size: 1.7rem;
  font-weight: 400;
}
.line{
  width: 11rem;
  height: 0.2rem;
  margin-top: 0rem;
  background-color: var(--red);
}

.blog-img2{
  position: relative;
  bottom: 10rem;
}

.blog3-img{
  position: relative;
}
.blog3-text{
  font-size: 2rem;
  color: var(--white);
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 1;
  background-color: var(--red);
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0.5rem;
  opacity: 0;
}
.blog3-img:hover> .blog3-text {
 opacity: 1;
}
.blog3-img img:hover{
   filter: brightness(30%);
}



/* .social-media section */

.social-media-icon{
  font-size: 2rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: var(--white);
  cursor: pointer;
}
.social-media-icon div:nth-child(1){
  background-color: rgb(6, 60, 122);
 padding: 4rem 4rem;
}
.social-media-icon div:nth-child(2){
  background-color: rgba(11, 152, 207, 0.942);
 padding: 4rem 4rem;
}
.social-media-icon div:nth-child(3){
  background-color: rgba(22, 126, 187, 0.979);
 padding: 4rem 4rem;
}
.social-media-icon div:nth-child(4){
  background-color: rgba(209, 35, 12, 0.979);
 padding: 4rem 4rem;
}
.social-media-icon div:nth-child(5){
  background-color: rgba(230, 62, 202, 0.979);
 padding: 4rem 4rem;
}
.social-media-icon div:nth-child(6){
  background-color: rgba(243, 80, 15, 0.979);
 padding: 4rem 4rem;
}



/* footer setion start */
.footer{
  background: url(images/asset\ 30.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 6rem;
}
.footer h4{
  font-size: 1.8rem;
}
.footer p{
  color: var(--light-black);
  margin-top: 3rem;
  text-transform: capitalize;
  font-size: 1.4rem;
}

.footer .footer-brand span{
  color: var(--red);
  margin-right: 2rem;
}

.footer .twitter a{
  color: var(--sky-blue) !important;
  font-size: 1.4rem;
}
.footer .twitter  span,a{
  color: var(--sky-blue);
}
.footer .newsletter p{
  line-height: 3rem;
}
.footer input {
  padding: 1rem;
  border: 0.2rem solid var(--light-black);
}
 /* #btn-sub a{
color: var(--light-black) !important;
} */
.btn-sub{
  color: black !important;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.8rem 3rem 0.8rem 3rem ;
  border: 0.1rem solid var(--light-black);
}
.btn-sub:hover{
  background-color: var(--red);
  border: none;
}
::placeholder{
  font-size: 1.5rem;
}

.bottom-footer{
  padding: 3rem 3rem;
  background-color: var(--light-black);
}
.bottom-footer p{
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 400;
}
.bottom-footer p span{
  color: var(--red);
}
/* end footer section  */























