
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
/* pre looader */
#preloader{
  background:#000  url('images/asset\ 11.svg') no-repeat center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* end preloooader */

/* end top button  */
:root{
  --white:#ffffff;
  --black:#181818;
  --dark-black:#000000; 
--light-sky:#b0c6d4;
  --light-blue:#007cba  ;
  --dark-blue:#1e3765;
  --bg-gray:#f8f9fc;
  --bg-color:#f8f9fc;
}
h6{
  font-size: 1.7rem;
  font-weight: 500;
}
p{
  font-size: 1.7rem;
   font-weight: 400;
  line-height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--black);
}
a{
  text-decoration: none;
}
h1{
font-size: 4rem;
font-weight: 400;
text-transform: capitalize;
}
h3{
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h4{
  font-size: 1.8rem;
  color: var(--dark-blue);
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}
.container-fluid{
  padding-left: 11rem;
  padding-right: 11rem;
}

/* span{
  font-size: 1.5rem;
} */

/* start topbar sections  */
.topbar span a:hover{
  color: var(--light-sky);
}
.topbar{
  color: var(--white);
  font-size: 1.4rem;
}
.topbar a{
  color: var(--white);
}
.topbar span{
  margin-right: 2rem;
}
 .topbar-left{
  background-color:var(--dark-blue);
}
.topbar-left span{
  background-color:var(--dark-blue);
  margin-right: 1rem;

}
.topbar-right{
  background-color: rgb(0, 0, 0);
}
/* end topbar */

/* middle bar */
/* .container-fluid{
  overflow: hidden;
}
 */
 .middlebar h1{
  font-size: 5rem;
 }
.middlebar {
  background-color:var(--white);
margin-top: 3rem;
}
.middlebar p{
  font-size: 1.4rem;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;

}
.middlebar img{
  width: 22rem;
  height: 7rem;
}
.middlebar span{
  font-size: 2rem;
}

/* bottombar  */
.navbar{
  background-color: var(--black);
  padding-top: 0;
  padding-bottom: 0;
  /* padding: 1rem; */
position: relative;
top: 5rem;
z-index: 1;
}
.nav-link{
  font-size: 1.5rem;
 color: var(--white); 
 padding: 2.5rem 2rem 2.5rem 2rem !important;
}
.nav-link:hover{
  color: var(--white);
}
.btn1{
  background-color: var(--dark-blue);
  padding: 0rem 4rem 0rem 4rem;transition: 0.5s;
}
.btn1:hover{
   background-color: var(--white);
   border: 0.1rem solid var(--dark-black);
   color: var(--black);
}
.btn1 .nav-link{
  font-weight: 500;
}

.btn1:hover .nav-link{
  color: var(--black);
}

/* hero section start  */
.hero-wrapper{
  background:linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)) , url(images/asset\ 30.jpeg);
  background-size:cover;
  background-position:top;
  background-repeat: no-repeat;
  padding-top: 8rem;
  padding-bottom: 25rem;
  color: var(--white);
}
.hero-wrapper h1{
 margin-top: 16rem;
}

.hero-wrapper p{
  margin-top: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white);
 }
 .btn2{
  background-color: var(--light-sky);
  color: var(--black);
  padding: 2.2rem 3.5rem 2.2rem 3.5rem;
  font-size: 1.7rem;transition: 0.5s;
  font-weight: 400;
 }
 .btn2:hover{
  background-color: var(--dark-blue);
 }
 #btn2{
  margin-top: 5rem;
 }

 
 /* services section  */
 .services-wrapper{
  margin-bottom: 3rem;
  position: relative;
  top: -8rem;
 }
 .services-wrapper span{
  font-size: 3rem;
  padding: 2.4rem 3rem 2.4rem 3rem;
background-color: var(--dark-blue);
border-radius: 50%;
color: var(--white);
outline: 1rem solid var(--white); 
}

.service-icon{
  position: relative;
  top: -2rem;
}
.services-wrapper p{
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.6rem;
 

}
.services-wrapper .card{
  border: none;
  padding-bottom: 4rem;
  box-shadow: 0.1rem 0.01rem 0.21rem  rgb(182, 182, 182);
}
.card3{
  background-color: var(--dark-blue);
}
.service-text3 p{
  color: var(--white);

}
.service-text3 h3{
  color: var(--white);

}
.services-wrapper .card3 span{
  background-color: var(--white);
  color: var(--dark-blue);
  outline: 1rem solid var(--dark-blue); 

}
/* About section  */
.about-wrapper{
  margin-top: 3rem ;
  padding-right: 3rem;
  margin-bottom: 3rem;
}
.about-wrapper .btn2{
  background-color: var(--dark-blue);
  color: var(--white);
}
.about-left{
  padding-right: 5rem;
}
.about-left img{
 width: 20rem;
 height: 7rem;

}
.about-left p{
  color: var(--black);

}
.about-right{
 position: relative;
} 
 .about-quote{
  position:absolute;
  bottom: 8rem;
  margin-left: -5rem;
}
.about-quote{
  padding:0rem 0rem 0rem 2rem;
  box-shadow: 0rem 0rem 0.9rem rgb(170, 170, 170);
background-color: var(--white);
}
.about-quote h6{
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.about-quote p{
  font-size: 1.6rem;
  padding: 2rem 0rem 0rem 1rem ;
  border-left: 0.2rem solid var(--black);
  color: var(--black);
}


/* coutner section  */
.counter-wrapper{
  margin-top: 10rem;
  margin-bottom: 6rem;
  padding: 8rem 8rem;
  background-color:var(--bg-color);
}
.counter-wrapper span{
  font-size: 4.5rem;
  color: var(--dark-blue);
}
.counter-wrapper h2{
  font-size: 2.2rem;
  font-weight: 300;
}
/* Product section start  */

.product-wrapper{
padding-top: 6rem;
padding-bottom: 10rem;
  background:linear-gradient(to right, rgba(40, 66, 100), rgb(171, 178, 196));
}
.product-head p{
  color: var(--white);
}
.product-head h1{
  color: var(--white);
}
.product-img {
  position: relative;
  top: -8rem;
}
.product-img p{
  color: var(--black);

}
.product-img .btn2{
  background-color: var(--dark-blue);
  color: var(--white);
}
.product-img .btn2:hover{
  background-color: var(--white);
  color: var(--black);
  border: 0.1rem solid var(--black);
}
.product-img .card{
  padding-bottom: 6rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.7rem rgb(110, 99, 99);
}
.explore-product{
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.heading-black p{
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 400;
}
.explore-product h1{
  color: var(--dark-blue);
}
.explore-product .card1{
  overflow: hidden;
   background-color:var(--white);
  border-bottom: 0.5rem solid var(--dark-blue);
}

.explore-product .card1 img{
  transition: 0.5s ease-in;
  height: 15rem;
  width: 100%;
}
.explore-product .card1 img:hover{
  transform: scale(1.2);
}
.explore-product h3{
  font-size: 2.7rem;
  line-height: 3.3rem;
}
.enquiry-wrapper {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url(images/asset\ 31.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 10rem;
}
.enquiry-wrapper input{
  background-color: #00000000;
  padding: 1.8rem;
  border: 0.15rem solid var(--white);
  border-radius: 0rem;
  color: var(--white);
}
::placeholder{
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--white) !important;
}
.heading p{
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 400;
}
.enquiry-wrapper h1 {
color: var(--light-sky);}

.enquiry-wrapper textarea {
  width: 100%;
  background-color:rgba(255, 0, 0, 0);
  border: 0.15rem solid var(--white);
  padding-left: 2rem;
}
.enquiry-wrapper #btn2{
  margin-top: 2rem;
}

/* industries served sections  */
.industries-wrapper{
  padding: 6rem 6rem;
  padding-bottom: 15rem;
  margin-top: 9rem;
 
  background:linear-gradient(to right, rgba(40, 66, 100, 0.904), rgba(47, 62, 104, 0.377));
}
.industries-wrapper{
  color:var(--white);
}
 
/* .industries-img  */
.industries-img{
  position: relative;
  top: -8rem;
}

.industries-img .card1{
  overflow: hidden;
   background-color:var(--white);
  border-bottom: 0.5rem solid var(--dark-blue);
  box-shadow: 0px 1px 3px 0px #a0a0a0;}

 .industries-img .card1 img{
  transition: 0.5s ease-in;
  height: 20rem;
  width: 100%;
}
 .industries-img .card1 img:hover{
  transform: scale(1.1);
}
button{
  border: none !important;
}
.close-btn{
  position: relative;
  left: 30rem;
  top: 2rem;
}
.offcanvas{
  background-color: var(--black);
}
.offcanvas button {
  background-color: var(--black);
}
.offcanvas button span {
  border: none;
  font-size: 2rem;
  background-color: var(--black);
color: var(--bg-color);  
}
.navbar button span{
  color: var(--light-blue);
  font-size: 3rem;
}
/* our pattern section  */
.partner-wrapper{
  
  margin-bottom: 5rem;
}
.partner-wrapper h1{
  color: var(--dark-blue);
}
.partner-wrapper .heading p{
    color: var(--dark-black);
} 
.partner-img {
  margin-top: 4rem;
}
.partner-img img{
  width: 18rem;
  height: 4.3rem;
}
.partner-img img:hover{
  transform: scale(1.2);
}
/* inbox */
.inbox-wrapper{
  position: relative;
  top: 13rem;
  z-index: 1;

}

.inbox{
  background:linear-gradient(to right, rgba(40, 66, 100), rgb(171, 178, 196));
 padding: 2rem 0rem;
}
.inbox-form{
  margin-top: 6rem;
}
.inbox p{
  color: var(--white);
  font-weight: 400;
}
.inbox h3{
  color: var(--white);
}
.inbox-form input{
  padding: 1.8rem;
  border: none;
  border-radius: 0;
}
.btn{
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 0;
  padding: 0rem 2rem 0rem 2rem;
}
.btn:hover{
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 0;
}
/* start footer section  */
 .footer-wrapper{
  background-color: var(--dark-black);
  color: var(--white);
padding-top: 18rem;
padding-bottom: 2rem;
}
 
 .footer-wrapper img{
  width: 30rem;
  height: 15rem;
 }
 .hr-1{
  border: 0.15rem solid var(--white);
 }
 .footer-wrapper h5{
  color: var(--light-sky);
   font-size: 2.2rem;
   font-weight: 400;
 }
 .footer-wrapper a{
  color: var(--white);
  transition: 0.5s;
 }
.social-media span{
  padding: 1.5rem;
font-size: 1.87rem;
}
.footer-wrapper a:hover{
color: var(--light-sky);
}






